<div class="col-12 sidebar right-sidebar">
    <div class="sidebar-container">
      <div class="sidebar-content">
        <aside id="contact-info-widget-3" class="widget contact-info">
          <h4 class="widget-title">Liên hệ với chúng tôi</h4>
          <div class="contact-info">
            <ul class="contact-details">
              <li><i class="fa fa-phone"></i> <strong>Hotline:</strong> <span>0934 235 126</span></li>
              <li><i class="fa fa-envelope"></i> <strong>Email:</strong> <span><a
                    href="mailto:trankkien@gmail.com">trankkien@gmail.com</a></span></li>
            </ul>
          </div>

        </aside>
        <aside id="custom_html-5" class="widget_text widget widget_custom_html">
          <h4 class="widget-title">ĐĂNG KÝ NHẬN BẢNG GIÁ</h4>
          <div class="textwidget custom-html-widget">
            <div role="form" class="wpcf7" id="wpcf7-f5-o1" lang="vi" dir="ltr">
              <div class="screen-reader-response"></div>
              <form action="/gioi-thieu/#wpcf7-f5-o1" method="post" class="wpcf7-form" novalidate="novalidate">
                <div style="display: none;">
                  <input type="text" name="_wpcf7" value="5">
                  <input type="text" name="_wpcf7_version" value="5.0.3">
                  <input type="text" name="_wpcf7_locale" value="vi">
                  <input type="text" name="_wpcf7_unit_tag" value="wpcf7-f5-o1">
                  <input type="text" name="_wpcf7_container_post" value="0">
                </div>
                <p><span class="wpcf7-form-control-wrap hoten"><input type="text" name="hoten" value="" size="40"
                      class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required hoten" aria-required="true"
                      aria-invalid="false" placeholder="Họ và tên"></span><br>
                  <span class="wpcf7-form-control-wrap sdt"><input type="text" name="sdt" value="" size="40"
                      class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel sdt"
                      aria-required="true" aria-invalid="false" placeholder="Số điện thoại"></span><br>
                  <span class="wpcf7-form-control-wrap email"><input type="email" name="email" value="" size="40"
                      class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-email email"
                      aria-invalid="false" placeholder="Email"></span><br>
                  <span class="wpcf7-form-control-wrap noidung"><textarea name="noidung" cols="40" rows="4"
                      class="wpcf7-form-control wpcf7-textarea noidung" aria-invalid="false"
                      placeholder="Nội dung lời nhắn"></textarea></span>
                </p>
                <p><input type="submit" value="Gửi đi" class="wpcf7-form-control wpcf7-submit"><span
                    class="ajax-loader"></span></p>
                <div class="wpcf7-response-output wpcf7-display-none"></div>
              </form>
            </div>
          </div>
        </aside>
        <aside id="custom_html-6" class="widget_text widget widget_custom_html">
          <h4 class="widget-title">Facebook</h4>
          <div class="textwidget custom-html-widget"></div>
        </aside>
        <aside id="follow-us-widget-3" class="widget follow-us">
          <h4 class="widget-title">Follow Us</h4>
          <div class="share-links">
            <a href="">
              <i class="fas-facebook"></i>
            </a>
          </div>

        </aside>
        <aside id="recent-posts-2" class="widget widget_recent_entries">
          <h4 class="widget-title">Bài mới</h4>
          <ul>
            <li>
              <a href="https://kiencuongland.com/xem-phong-thuy/">Những cách tự xem phong thủy nhà tốt hay xấu đơn
                giản mà
                cực chuẩn</a>
            </li>
            <li>
              <a href="https://kiencuongland.com/cac-loai-thue-phi-phai-nop-kbhi-mua-ban-nha-dat/">Các loại thuế ,phí
                phải
                nộp khi mua bán bất động sản</a>
            </li>
            <li>
              <a href="https://kiencuongland.com/nguyen-tac-phong-thuy-co-ban-khi-xay-dung-nha-o/">Nguyên tắc phong
                thủy cơ
                bản khi xây dựng nhà ở</a>
            </li>
            <li>
              <a href="https://kiencuongland.com/mo-ban-dot-cuoi-dat-nen-thien-loc-song-cong-chi-tu-450-trieu-lo/">Mở
                bán
                đợt cuối đất nền Thiên Lộc Sông Công chỉ từ 450 triệu/lô</a>
            </li>
            <li>
              <a href="https://kiencuongland.com/du-an-dang-mua-nhat-thang-ngau/">Điểm qua những dự án đáng mua nhất
                tháng
                ngâu này</a>
            </li>
          </ul>
        </aside>
      </div>
    </div>
  </div>
