.sidebar.right-sidebar {
  background-color: #f3caa15e;
  border: 2px dashed #ff001f;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sidebar.right-sidebar .sidebar-content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-style: normal;
  margin-top: 15px;
}

.sidebar.right-sidebar .sidebar-content .widget-title {
  float: left;
  margin-top: 0;
  padding: 3px 5px 6px 40px;
  margin-bottom: 12px;
  background: #ff001f;
  font-size: 17px;
  text-transform: uppercase;
  border-bottom: 1px solid #ffb000;
  font-weight: 600;
  color: #ffffff;
  width: 100%;
  clear: both;
}

.sidebar.right-sidebar .sidebar-content .contact-info ul * {
  font-size: 16px;
  font-weight: bold;
  color: #086db5 !important;
}

.sidebar.right-sidebar .sidebar-content .contact-info {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-style: normal;
}

.sidebar.right-sidebar .sidebar-content .contact-info .contact-details {
  border-width: 0;
  margin: 0;
  padding: 0;
}

.sidebar.right-sidebar .sidebar-content .contact-info .contact-details li {
  list-style-type: none !important;
  padding-bottom: 10px;
}

.sidebar.right-sidebar .sidebar-content .contact-info .contact-details li i {
  margin-right: 5px;
}

.sidebar.right-sidebar .sidebar-content .textwidget form input[type="text"],
.sidebar.right-sidebar .sidebar-content .textwidget form input[type="email"] {
  position: relative;
  width: 100% !important;
  margin-bottom: 10px;
}

.sidebar.right-sidebar .sidebar-content .textwidget form textarea, .sidebar.right-sidebar .sidebar-content .textwidget form input[type="submit"] {
  width: 100%;
}

.sidebar.right-sidebar .sidebar-content .textwidget form input[type="submit"] {
  width: 100%;
  border: none;
  background-color: 0088cc;
  background: #0088cc;
  background-color: #0088cc;
  color: #fff;
}

.sidebar.right-sidebar .sidebar-content .widget_recent_entries ul {
  clear: both;
  padding: 0;
}

.sidebar.right-sidebar .sidebar-content .widget_recent_entries ul li {
  border-bottom: 1px dashed #ccc;
  border-top: none;
  list-style-type: none;
  text-align: center;
}

.sidebar.right-sidebar .sidebar-content .widget_recent_entries ul li a {
  color: #086db5;
}

.sidebar.right-sidebar .sidebar-content .widget_recent_entries ul li::before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  margin-left: -11px;
  margin-right: 5px;
}
/*# sourceMappingURL=sidebar-content.component.css.map */