

.sidebar.right-sidebar {
    background-color: #f3caa15e;
    border: 2px dashed #ff001f;
    border-radius: 2px;
    box-sizing: border-box;
    .sidebar-content {
        box-sizing: border-box;
        font-style: normal;
        margin-top: 15px;
        .widget-title {
            float: left; margin-top: 0;
            padding: 3px 5px 6px 40px;
            margin-bottom: 12px;
            background: #ff001f;
            font-size: 17px;
            text-transform: uppercase;
            border-bottom: 1px solid #ffb000;
            font-weight: 600;
            color: #ffffff;
            width: 100%;
            clear: both;   
        }
        .contact-info ul * {
            font-size: 16px;
            font-weight: bold;
            color: #086db5 !important;
        }
        .contact-info {
            box-sizing: border-box;
            font-style: normal;
            .contact-details {
                border-width: 0;
                margin: 0;
                padding: 0;
                li {
                    list-style-type: none !important;
                    padding-bottom: 10px;
                    i {
                        margin-right: 5px;
                    }
                }
            }
        }
        .textwidget {
            form {
                input[type="text"],
                input[type="email"] {
                    position: relative;
                    width: 100% !important;
                    margin-bottom: 10px;
                }
                textarea , input[type ="submit"] {
                    width: 100%;
                }
                input[type ="submit"] {
                    width: 100%;
                    border: none;
                    background-color: 0088cc;
                    background: #0088cc;
                    background-color: #0088cc;
                    color: #fff;
                }

            }
        }     
    //     form {
    //       input[type = "text"] {
    //              width: 100% !important;
    //              max-height: 60px !important;
    //              padding: 5px !important;
    //              margin: 2px 0 !important;                    
    //       }
    //    }
    .widget_recent_entries ul {
        clear: both;
        padding: 0;
        li {
            border-bottom: 1px dashed #ccc;
            border-top: none;
            list-style-type: none;
            text-align: center;
            a {
                color: #086db5;
            }
        }

        li::before {
            content: "";
            display: inline-block;
            width: 0;
            height: 0;
            border-top: 4px solid transparent;
            border-bottom: 4px solid transparent;
            margin-left: -11px;
            margin-right: 5px
        }
    }
    }

}