<header>

    <nav class="navbar navbar-expand-lg navbar-light" [style]="{'background-color':'#fff'}">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="assets\img\brand\logo2.jpg" height="70px" [style]="{'padding-bottom':'15px'}" alt="">
            </a>
            <button class="navbar-toggler" type="button" (click)="sidebar_content = true" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/home']" id="home"
                            routerLinkActive="router-link-active">TRANG CHỦ<span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"  [routerLink]="['/info']" id="info"
                            routerLinkActive="router-link-active">GIỚI THIỆU<span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link dropdown" id="project">DỰ ÁN <i
                                class="fa fa-caret-down"></i><span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="service">ĐẤT DỊCH VỤ
                            <i class="fa fa-caret-down"></i>
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="landscape">ĐẤT THỔ CƯ <i class="fa fa-caret-down"></i>
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/contact']" routerLinkActive="router-link-active"
                            id="contact">LIÊN HỆ<span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="login" routerLink="/login" routerLinkActive="router-link-active">ĐĂNG
                            NHẬP<span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/register']" routerLinkActive="router-link-active" >
                            ĐĂNG KÍ <span class="sr-only">(current)</span>
                        </a>

                    </li>
                    <ng-container *ngIf="isProjects ? isProjects : null">
                        <ul class="dropdown_Menu dropdown_project" id="dropdown_project">
                            <li [routerLink]="['/geleximco']" routerLinkActive="router-link-active">
                                Geleximco
                            </li>
                            <li [routerLink]="['/sudico']" routerLinkActive="router-link-active">
                                Sudico
                            </li>
                        </ul>
                    </ng-container>
                    <ng-container *ngIf="isLandSerice ? isLandSerice : null">
                        <ul class="dropdown_Menu dropdown_land_serice">
                            <li [routerLink]="['/geleximco']" routerLinkActive="router-link-active">
                                An khánh
                            </li>
                            <li [routerLink]="['/sudico']" routerLinkActive="router-link-active">
                                An thượng
                            </li>
                            <li [routerLink]="['/routePath']" routerLinkActive="router-link-active" >
                                Song phương
                            </li>
                        </ul>
                    </ng-container>
                    <ng-container *ngIf="islandscape ? islandscape : null">
                        <ul class="dropdown_Menu dropdown_land_scape">
                            <li [routerLink]="['/geleximco']" routerLinkActive="router-link-active">
                                Thổ cư 1      
                            </li>
                            <li [routerLink]="['/sudico']" routerLinkActive="router-link-active">
                                Thổ cư 2
                            </li>
                        </ul>
                    </ng-container>
                </ul>
                <!-- <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
            </div>
        </div>
    </nav>

</header>
<div class="body-main mt-6">
    <router-outlet></router-outlet>
</div>
<footer>
    <div class="footer_top">
        <div class="container-fluid">
            <div class="row">
                <div class="text-center">
                    <div class="textwidget">
                        <p><b>BẤT ĐỘNG SẢN KIÊN CƯỜNG LAND</b><br>
                            Trụ sở: Số 80, Cách Mạng Tháng 8, TP. Thái Nguyên<br>
                            Hotline:&nbsp;0934.235.126 Email:&nbsp;trankkien@gmail.com<br>
                            Website:&nbsp;</p>
                        <p>&nbsp;</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="container-fluid">
            <div class="row">
                <div class="text_content">
                    <h4>© Bản quyền thuộc về Bất Động Sản Tuấn Sơn </h4>
                </div>
            </div>
        </div>
    </div>
</footer>
<p-sidebar [(visible)]="sidebar_content" [style]="{'padding':'0'}">
   
    <p-tree [value]="menus" (onNodeSelect)="onNodeSelect($event)" selectionMode="single" [style]="{'padding':'0','height':'100vh'}"></p-tree>
</p-sidebar>
