header {
  border-bottom: 1px soild #ccc;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

header .nav-link {
  color: #000;
  border-radius: 20px;
}

header .nav-link:hover {
  background-color: #ff001f !important;
  border-radius: 20px;
  color: #fff;
}

header .nav-link {
  cursor: pointer;
}

header .nav-link.selected {
  background-color: #ff001f !important;
  color: #fff;
}

header .router-link-active {
  background-color: #ff001f !important;
  color: #fff !important;
}

header .dropdown_Menu {
  border-radius: 20px;
  width: 150px;
  position: absolute;
  z-index: 2;
  top: 55px;
  background-color: #fff;
  -webkit-box-shadow: 1px 3px 13px;
          box-shadow: 1px 3px 13px;
  padding: 10px;
}

header .dropdown_Menu li {
  list-style-type: none;
  text-align: center;
  /* padding: 10px; */
  color: #777;
  margin-bottom: 10px;
  background-color: rgba;
  width: 100%;
  padding: 2px;
  border-radius: 20px;
  cursor: pointer;
}

header .dropdown_Menu li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

header .dropdown_project {
  left: 261px;
}

header .dropdown_land_serice {
  left: 378px;
}

header .dropdown_land_scape {
  left: 520px;
}

footer .footer_top {
  background-image: url(https://static.upgo.vn/images/upinstantpage/168659294081615045578104);
  background-color: #777;
}

footer .footer_top .textwidget {
  margin-top: 25px !important;
  color: #fff;
}

footer .footer_top .block_widget {
  position: relative;
  padding: 35px 0 35px 22px;
  color: #fff;
}

footer .footer_top .block_widget .widget-title {
  font-size: 20px;
  text-transform: uppercase;
}

footer .footer_top .block_widget .is-divider {
  margin-top: 15px;
}

footer .footer_bottom {
  background: #fff;
  padding: 15px;
}
/*# sourceMappingURL=auth-layout.component.css.map */