<section class="">
    <div class="img-inner dark">
        <img src="http://hungdungland.com/wp-content/uploads/2019/06/contact-us-3.jpg"
            class="attachment-original size-original">
    </div>
</section>
<div class="container-fluid">
    <div class="row">

        <div class=" col-12 col-md-6 col-xl-6 order-xl-1">
            <div class="card bg-secondary shadow mt-4 mb-4">
                <div class="card-header bg-white border-0">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h1 class="mb-0" style="font-weight: bold;">Liên hệ với chúng tôi</h1>
                        </div>

                    </div>
                </div>
                <div class="card-body">
                    <div class="col-inner">
                        <table style="width: 100%; height: 84px;">
                            <tbody>
                                <tr style="height: 21px;">
                                    <td style="width: 10px; height: 21px;">&nbsp;<i
                                            class="wp-svg-location-2 location-2"></i></td>
                                    <!-- <td style="width: 273px; height: 21px;">&nbsp;A42 – 20, Liền kề Khu A Geleximco Lê -->
                                    <!-- Trọng Tấn, Hà Đông</td> -->
                                </tr>
                                <tr style="height: 21px;">
                                    <td style="width: 10px; height: 21px;">&nbsp;<i class="wp-svg-mail-2 mail-2"></i>
                                    </td>
                                    <!-- <td style="width: 273px; height: 21px;">&nbsp;hunghd.vanphuland@gmail.com</td> -->
                                </tr>
                                <tr style="height: 21px;">
                                    <td style="width: 10px; height: 21px;">&nbsp;<i class="wp-svg-phone phone"></i></td>
                                    <td style="width: 273px; height: 21px;">&nbsp;0986 534 385</td>
                                </tr>
                                <tr style="height: 21px;">
                                    <td style="width: 10px; height: 21px;"></td>
                                    <td style="width: 273px; height: 21px;">Cảm ơn Quý khách đã quan tâm và truy cập vào
                                        website của Tuấn Sơn Land. Chúng tôi rất coi trọng vấn đề bảo mật thông tin và
                                        luôn nỗ lực làm hết sức mình để bảo mật thông tin khách hàng.<p></p>
                                        <p>Chúng tôi có biện pháp thích hợp về kỹ thuật và an ninh để ngăn chặn truy cập
                                            trái phép hoặc trái pháp luật hoặc mất mát hoặc tiêu hủy hoặc thiệt hại cho
                                            thông tin của anh chị. Khi thu thập dữ liệu trên web, chúng tôi thu thập chi
                                            tiết cá nhân của bạn trên máy chủ an toàn.</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="google-map relative mb" id="map-536009747">
                            <div class="map-height" id="map-536009747-inner"></div>
                            <div id="map_overlay_top"></div>
                            <div id="map_overlay_bottom"></div>
                            <div class="map_inner map-inner last-reset absolute x95 md-x95 lg-x95 y95 md-y95 lg-y95">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class=" col-12 col-md-6 col-xl-6 order-xl-1">
            <div class="card bg-secondary shadow mt-4 mb-4">
                <div class="card-header bg-white border-0">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h1 class="mb-0" style="font-weight: bold;">Gửi liên hệ với chúng tôi</h1>
                        </div>

                    </div>
                </div>
                <div class="card-body">
                    <form>
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-username">Tên</label>
                                        <input type="text" id="input-username"
                                            class="form-control form-control-alternative" placeholder=""
                                            value="">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-email"> Địa chỉ email</label>
                                        <input type="email" id="input-email"
                                            class="form-control form-control-alternative" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-first-name">Tên</label>
                                        <input type="text" id="input-first-name"
                                            class="form-control form-control-alternative" placeholder=""
                                            value="">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-last-name">Họ</label>
                                        <input type="text" id="input-last-name"
                                            class="form-control form-control-alternative" placeholder=""
                                            value="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="my-4" />
                        <!-- Address -->
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-address">Địa chỉ</label>
                                        <input id="input-address" class="form-control form-control-alternative"
                                            placeholder="" value="" type="text">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <hr class="my-4" />
                        <!-- Description -->
                        <h6 class="heading-small text-muted mb-4">Về chúng tôi</h6>
                        <div class="pl-lg-4">
                            <div class="form-group">
                                <textarea rows="4" class="form-control form-control-alternative"
                                    placeholder=""></textarea>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>