
/* ===============================CAROUSEL===================================== */

/* ============================== CÁC DỰ ÁN ĐANG TRIỂN KHAI ============================== */
.section-content {
    background-image: url(https://static.upgo.vn/images/upinstantpage/420725982481615003133872);
    background-position: 50% 50%;
    background-size: cover;
}
.big_content {
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 50px;
}
.text_title {
    text-align: center;
}
.big_title {
    font-size: 35px;
    padding-top: 50px;
}
.text_bottom {
    font-size: 15px;
    color: #ccc;
    margin-bottom: 100px;
}
.inner_container .inner_content {
    height: 300px;
    background-position: 15% 40%;
    background-size: cover;
}
.inner_container .inner_content :hover {
    position: relative;
    top: 1px ;
    left: 1px;
}
    .name_conent .name {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    top: 20px;
    padding-bottom: 20px

}
.section-footer-content .body-footer {
    background: #fff;
}
.section-footer-content .body-footer ul {
    display:  flex;
    justify-content: space-around;
}
.section-footer-content .body-footer ul li {
    padding-top: 20px;
    padding-bottom: 20px;
    list-style-type: none;
    width: 100px;
    height: 100px
}
.section-footer-content .body-footer ul li img {
    position: relative;
    width: 100%;
    height: 100%;
}
.geleximo-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.img-back {
    width: 100%;
}