<p-progressSpinner [hidden]="!isShow" [style]="{'width': '50px', 'height': '50px', 'position':'fixed','z-index':'9999','top':'50%','left':'50%'}" styleClass="custom-spinner" strokeWidth="4" fill="#EEEEEE" animationDuration="2s"></p-progressSpinner>
<div [hidden]="!isShow"></div>