<a href="#top" class="back-to-top button icon invert plain fixed bottom z-1 is-outline hide-for-medium circle active" id="top-link"><i class="icon-angle-up"></i></a>

<section>
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://static.upgo.vn/images/upinstantpage/220926632771615004994809"  class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://static.upgo.vn/images/upinstantpage/351691072671615692287109" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://static.upgo.vn/images/upinstantpage/106602269531615692246063" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"  data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"  data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    <!-- <div id="carouselExampleControlsNoTouching" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item">
                <img src="https://static.upgo.vn/images/upinstantpage/220926632771615004994809
                " class="d-block w-100" style="height: 100%;">
            </div>
            <div class="carousel-item active">
                <img src="https://static.upgo.vn/images/upinstantpage/072029182051615004989530
                " class="d-block w-100" style="height: 100%;"s>
            </div>
            <div class="carousel-item">
                <img src="https://static.upgo.vn/images/upinstantpage/264395760831614868092204
                " class="d-block w-100" style="height: 100%;"s>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div> -->
</section>
<div class="bg section-bg fill bg-fill   bg-loaded">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-6">
                <div class="col-inner text-center">
                    <h2 class="primary-color" style="text-align: left;">Giới thiệu về Tuấn Sơn</h2>
                    <p style="text-align: left;"><strong>Công ty bất động sản Tuấn Sơn</strong>&nbsp;
                        Kính gửi Quý đối tác và Quý khách hàng!
                        Bất động sản Tuấn Sơn  là đơn vị phân phối số 1 các dự án bất động sản cao cấp phía Tây Hà Nội
                        Được thành lập trong bối cảnh nền kinh tế khó khăn, đặc biệt là giai đoạn thị trường bất động sản đầy biến động, tuy nhiên với bản lĩnh của một doanh nghiệp trẻ đầy tự tin, sáng tạo, Tuấn Sơn Land đã phát triển nhanh chóng và khẳng định được vị thế trên thị trường bất động sản.
                        Triết lý của chúng tôi: 
                        Với phương châm “Giá trị tạo niềm tin”, Tuansonland luôn đặt khách hàng là trọng tâm của sự phát triển, để đem đến sự hài lòng tối đa cho mọi quý khách hàng. Sự hài lòng của quý khách hàng chính là sự khẳng định cho giá trị thương hiệu của Tuansonland.
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-6">
                <div class="img-content">
                    <!-- <div class="img">
                    </div> -->
                    <div class="boder-images">
                        <img src="https://static.upgo.vn/images/upinstantpage/682462946811615692225462" alt="">
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="banner-inner fill">
    <div class="banner-bg fill">
        <div class="bg fill bg-fill  bg-loaded"></div>
    </div><!-- bg-layers -->
    <div class="banner-layers container-fluid">
        <div class="fill banner-link"></div>
        <div id="text-box-1300724462" class="text-box banner-layer x100 md-x100 lg-x100 y0 md-y50 lg-y50 res-text">
            <div class="text dark">

                <div class="text-inner text-center">

                    <div class="gap-element clearfix" style="display:block; height:auto; padding-top:30px"></div>
                    <h4 class="big_title"><span style="font-size: 95%;">VĂN HÓA TẠI TUẤN SƠN</span></h4>
                    <div class="gap-element clearfix" style="display:block; height:auto; padding-top:18px"></div>
                    <div class="row" id="row-112335560">
                        <div class="col-12 col-md-12 col-lg-4" *ngFor="let item of list_title" >
                            <div class="icon-box featured-box icon-box-left text-left" style="margin:0px 0px 0px 0px;">
                                <div class="icon-box-img" style="width: 39px">
                                    <div class="icon">
                                        <div class="icon-inner">
                                            <img [style]="{'width':'60px'}" src="{{item.images}}"
                                                class="attachment-medium size-medium" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="icon-box-text last-reset">

                                    <h5 class="uppercase" style="text-align: left;"><span
                                            style="font-size: 110%;">{{item.title}}</span></h5>
                                    <p><span style="font-size: 90%;">{{item.discription}}</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-content relative" [style]="{'height':'calc(100% - 100px)'}">
    <div class="container-fluid">
        <div class="big_content">
            <div class="items_contents">
                <h4 class="text_title big_title"><span style="font-size: 95%;" >CÁC DỰ ÁN ĐANG TRIỂN KHAI</span></h4>
                <h6 class="thin-font uppercase text-center text_bottom"><span style="font-size: 80%;">
                    —&nbsp;</span><span style="font-size: 80%;">TUẤN SƠN —</span></h6>
            </div>
                <div class="inner_container">
                    <div class="row">
                        <div class="col-12 col-md-4 col-lg-4" *ngFor="let item of list_project">
                            <div class="parent-content">
                                <div class="inner_content" style="background-image: url({{item.images}}) ;">
                                </div>
                            </div>
                             <div class="name_conent">
                                 <h4 class="name">{{item.name}}</h4>
                             </div>        
                        </div>                      
                       
                    </div>
                </div>
        </div>
                
    </div>
</div>

<div class="section-content-footer relative" [style]="{'height':'calc(100% - 100px)'}">
    <div class="container-fluid">
        <div class="big_content">
            <div class="items_contents">
                <h4 class="text_title big_title"><span style="font-size: 95%;" >TIN MỚI CẬP NHẬT</span></h4>
            </div>
                <div class="inner_container">
                    <div class="row">
                        <div class="col-12 col-md-4 col-lg-4" *ngFor="let item of list_project">
                             <div class="inner_content">
                             </div>
                             <div class="name_conent">
                                 <h4 class="name">{{item.name}}</h4>
                             </div>        
                        </div>                      
                       
                    </div>
                </div>
        </div>
                
    </div>
</div>

<div class="section-footer-content">
    <div class="container-fluid">      
        <div class="row">
            <div class="body-footer">
                <ul class="nospace group">
                    <li class="one_quarter first"><a href="#"><img src="https://static.upgo.vn/images/upinstantpage/112019929181615691631404" alt=""></a></li>
                    <li class="one_quarter"><a href="#"><img src="https://static.upgo.vn/images/upinstantpage/444829176251615691628187" alt=""></a></li>
                    <li class="one_quarter"><a href="#"><img src="https://static.upgo.vn/images/upinstantpage/740971254941615691623635" alt=""></a></li>
                    <li class="one_quarter"><a href="#"><img src="https://static.upgo.vn/images/upinstantpage/540224374711615691620147" alt=""></a></li>
                  </ul>
            </div>
        </div>
    </div>
</div>

