
/* ===============================CAROUSEL===================================== */

#top-link {
    /* display: none; */
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #eec896;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
}
#top-link i {
    color: #fff;
    position: absolute;
    top: 3px;
    left: 13px;

}
#top-link:hover {
    background-color: #ccc;
}
#carouselExampleFade .carousel-item img {
    height: 100%;
    max-height: 645px;
}

.bg-loaded {
    background-image: url(http://hungdungland.com/wp-content/uploads/2019/06/timland.jpg);
}
.bg-fill {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: 50% 50%;
}
.bg-fill .fill {
}
.col-inner {
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 22px;
}
.section-bg .img-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.section-bg .img-content .boder-images {
    padding: 50px;
    box-sizing: border-box;
}
.section-bg .img-content img {
    /* background-image: url(https://static.upgo.vn/images/upinstantpage/811926022831615013041773); */
    background-position: 50% 50%;
    background-size: cover;
    /* margin-top: 50px; */
    width: 100%;
    height: 100%;
    border: 10px solid #fff;
}
.featured-box {
    display: flex;
    padding: 20px;
}
.featured-box .icon-inner img {
    padding-right: 10px;
}
.icon-box-text {
    margin-left: 15px;
}

/* ============================== CÁC DỰ ÁN ĐANG TRIỂN KHAI ============================== */
.section-content {
    background-image: url(https://static.upgo.vn/images/upinstantpage/420725982481615003133872);
    background-position: 50% 50%;
    background-size: cover;
}
.big_content {
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 50px;
}
.text_title {
    text-align: center;
}
.big_title {
    font-size: 35px;
    padding-top: 50px;
}
.text_bottom {
    font-size: 15px;
    color: #ccc;
    margin-bottom: 100px;
}
.inner_container .inner_content {
    height: 300px;
    background-position: 15% 40%;
    background-size: cover;
}
.inner_container .inner_content :hover {
    position: relative;
    top: 1px ;
    left: 1px;
}
    .name_conent .name {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    top: 20px;
    padding-bottom: 20px

}
.section-footer-content .body-footer {
    background: #fff;
}
.section-footer-content .body-footer ul {
    display:  flex;
    justify-content: space-around;
}
.section-footer-content .body-footer ul li {
    padding-top: 20px;
    padding-bottom: 20px;
    list-style-type: none;
    width: 100px;
    height: 100px
}
.section-footer-content .body-footer ul li img {
    position: relative;
    width: 100%;
    height: 100%;
}
/* .inner_container.parent-content:hover .inner_content,
.inner_container.parent-con.tent:focus .inner_content {
    transform: scale(1.2);
}
.inner_container.inner_content::before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(52, 73, 94, 0.75);
}

.inner_container.parent-content:hover .inner_content::before,
.inner_container.parent-content:focus .inner_content::before {
    display: block;
} */